<div>
  <hr />
  <p>Boleto facil 2025 </p>
  <p> | </p>
  <p> Todos lo Derechos Reservados</p>
</div>

<style>
  div {
    display: flex;  
    justify-content: center ;
    background-color: grey;
    color: white;
    padding: 30px;
    margin: auto;
    }
</style>
