<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <span class="navbar-brand mb-0 h1">Boleto Facil</span>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
      />

    </form>
    <button
      type="button"
      class="btn btn-light"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Iniciar Sesion
    </button>

  </div>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1
            class="modal-title fs-5"
            id="exampleModalLabel"
            style="color: white;"
          >
            Iniciar sesion
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label
                for="exampleInputEmail1"
                class="form-label"
                style="color: white">Username</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                Nunca lo Compartas con nadie
              </div>
            </div>
            <div class="mb-3">
              <label
                for="exampleInputPassword1"
                class="form-label"
                style="color: white">Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <button type="submit" class="btn btn-light">Iniciar Sesion</button>
            <button type="submit" class="btn btn-dark">Registrarse</button>


          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
